<h1>Find out how much your parcel costs to ship!</h1>

<form action="/triangle">
  <div class="form-group">
    <label for="length">Length</label>
    <input id="length" name="length" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="height">Height</label>
    <input id="height" name="height" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">Width</label>
    <input id="width" name="width" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="weight">Weight in pounds</label>
    <input id="weight" name="weight" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="distance">Distance of shipping</label>
    <input id="distance" name="distance" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="days">Speed of delivery in days</label>
    <input id="days" name="days" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Check it out!</button>
</form>
